extends layout

block scripts
  // Third party libraries
  script(src="/javascripts/jquery-1.8.2.min.js")
  script(src="http://code.createjs.com/easeljs-0.5.0.min.js")
  script(src="http://code.createjs.com/preloadjs-0.2.0.min.js")
  // Local libraries
  script(src="/javascripts/client.js")
  script(src="/javascripts/Character.js")

block content
  h1= title
  canvas#game
