html {
  width: 100%;
  height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

#game {
  background-color: #000000;
}

#chatbox {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 800px;
  max-height: 200px;
}

#messages {
  color: white;
  p {
    margin: 5px 0 5px 0; 
    font-size: 13px;
  }
}
#chat {
  font-size: 13px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 5px;
  width: 100%;
}
